# Virtual environment
venv/

# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Environment file (if used)
.env

# OS-specific files
.DS_Store
Thumbs.db

# Recordings folder (if you don't want to push generated recordings)
public/recordings/
